//sets attributes of Work section pictures
@mixin workPics {
  background-size: cover;
  height: 42rem;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  border-radius: 12px;
  background-blend-mode: screen;
}