// COLORS
$color-primary: #43c48c;
$color-primary-light: #4adecc;
$color-primary-dark: #12b5aa;

$color-secondary: #56ff90;
$color-secondary-light: rgb(150, 241, 203);
$color-secondary-2: #70e41a;

$color-tertiary-light: #913dff;
$color-tertiary-dark: #6a00d4;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

$color-nexter-primary: #c69963;
$color-nexter-secondary: #54483A;

$color-trillo-primary: #FF3366;
$color-trillo-secondary: #BA265D;

$color-natours-primary: #ff7730;
$color-natours-secondary: #ffb900;

$color-yelpcamp-primary: #0060ff;
$color-yelpcamp-secondary: #57e2ff;
$color-yelpcamp-tertiary: rgba(255, 206, 27, 0.49);

//BREAKPOINT VARIABLES
$bp-1756: 109.75em; //1756 / 16 = 109.75
$bp-1507: 94.1875em;
$bp-1444: 90.25em;
$bp-1311: 81.9375em;
$bp-1252: 78.25em;
$bp-1051: 65.6875em;
$bp-850: 53.125em;
$bp-750: 46.875em;
$bp-650: 40.625em;
$bp-570: 35.625em;
$bp-480: 30em;
$bp-380: 23.75em;


