<nav class="navbar">
    <div class="nav-container">

        <div class="navbar__menu" id="navMenu">
            <div class="navbar__end">
                <div class="navbar__item">
                    <a class="navbar__btn navbar__btn--reset btn btn--white" data-tooltip="Reset" onclick="document.getElementById('form').reset();">
                        <span class="icon">
                            <i class="fas fa-undo"></i>
                        </span>
                    </a>
                    <a href="/" class="navbar__btn navbar__btn--home btn btn--white">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar__placeholder">
        <img src="images/myAvatar.png" alt="user image" class="navbar__placeholder--img">
    </div>
</nav>
<hr>