<% include ./partials/header %>
<% include ./partials/navigation %>

<section class="contactpage">
    <div class="contactpage__title">
        <h2 class="contact__title heading-secondary">Want to collaborate?</h2>
    </div>

    <div class="contactpage__details">
        <p class="contactpage__text">If you  have an idea for a project and would like to get in touch with me,
            just shoot me a message with some information regarding your design.</p>
        <p class="contactpage__text"> Let's talk logistics!</p>
    </div>

      <form action="/contact" method="POST" class="form" id="form">
        <div class="form__grid">

          <input type="text" class="form__grid-name" id="name" required>
          <label for="name" class="form__grid-namelabel">Name</label>

          <input type="email" name="email" class="form__grid-email" id="email" required>
          <label for="email" class="form__grid-emaillabel">Email</label>

          <textarea id="message" cols="40" rows="10" name="message" class="form__grid-message" required></textarea>
          <label for="message" class="form__grid-messagelabel">Message</label>

          <button type="submit" class="btn btn--green form__grid-btn">Send Message</button>

        </div>
      </form>
</section>

<% include ./partials/footer %>