<% include ./partials/header %>
<% include ./partials/navigation %>

<section class="thankspage">
    <div class="thankspage__title">
        <h2 class="contact__title heading-secondary">Thanks for your interest!</h2>
    </div>

    <div class="contactpage__details">
        <p class="contactpage__text">Thank you for taking the time to reach out to me. I normally respond within 24 hours.</p>
        <p class="contactpage__text">Please keep an eye out for a response from me.</p>
        <p class="contactpage__text">I can't wait to build something together!</p>

        <a href="/" class="btn btn--green contact__btn">main page</a>
    </div>
</section>

<% include ./partials/footer %>