.contact {
  text-align: center;
  padding: 4rem;

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__btn {
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 2rem !important;
  }
}