*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // sets rem to 10px

  @media only screen and (max-width: $bp-850) {
    font-size: 50%;
  }
}

.container {
  display: grid;

  //ROW TRACKS
  grid-template-rows: 100vh repeat(5, min-content);

  //COLUMN TRACKS
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 65rem) [col-end])
  [center-end] minmax(6rem, 1fr) [full-end];

  //grid-template-columns: 1fr 1fr 1fr;
}

::selection {
  color: $color-secondary-light;
  background-color: $color-primary;
}